# Configuration file
# Generated on 18/12/12 14.39

####################
# block
####################

block {
    B:auto_resolve_block_ids=false
    I:calcinator=3051
    I:redWaterStill=3055
    ####################
    # properties
    ####################

    properties {
        ####################
        # red_water
        ####################

        red_water {
            I:duration.base=5
            I:duration.modifier=2
            I:range.base=1
            I:range.modifier=3
        }

    }

}


####################
# general
####################

general {
    B:enable_particle_fx=true
    B:enable_philosopher_stone_overlay=true
    B:enable_sounds=true
    B:enable_version_check=true
    I:miniumStone.maxDurability=1521
    I:miniumStone.transmuteCost=1
    B:sounds.enabled=true
    B:version_check.enabled=true
}


####################
# graphics
####################

graphics {
    B:particle_fx.enabled=true
    B:world_transmutation_overlay.enabled=true
}


####################
# item
####################

item {
    I:alchemyBag=27005
    I:alchemyDust=27004
    I:inertStone=27001
    I:miniumShard=27000
    I:miniumStone=27002
    I:philStone=27003
    ####################
    # durability
    ####################

    durability {
        I:miniumStone=1521
        I:philStone=10001
    }

}


####################
# keybindings
####################

keybindings {
    I:key.charge=47
    I:key.extra=46
    I:key.release=19
    I:key.toggle=34
}


####################
# keybinds
#===================
# 
####################

keybinds {
    I:key.charge=47
    I:key.extra=46
    I:key.release=19
    I:key.toggle=34
}


####################
# transmutation
####################

transmutation {
    I:block_cost=1
    I:item_cost=1
    I:mob_cost=1
}


