# Configuration file
# Generated on 09/12/12 12.03

####################
# block
####################

block {
    I:blockMultipart.id=3776
    I:chunkloader.id=3772
    I:peripherals.block.id=3774
    I:tubestuff.id=3773
    I:tubestuff.storage.id=3775
}


####################
# chunkloader.playerQuotaOverride
####################

chunkloader.playerQuotaOverride {
}


####################
# general
####################

general {
    B:autoAssign=false
    B:chunkloader.allowFuelPiping=false
    B:chunkloader.bypassForgeChunkLimits=true
    B:chunkloader.enableCrafting=true

    # comma-separated list of id:meta=number-of-ticks or id=number-of-ticks
    S:chunkloader.fuels=87=80,263:0=12000,1=60,331=1200,4=20,348=2400,3=20,112=200,263:1=1200,368=18000,378=18000,381=36000
    B:chunkloader.hideOtherPlayersLoadersInF9=false

    # Type of quota management to use for chunk loaders. Allowed values: perplayer, unlimited
    S:chunkloader.quotaType=unlimited
    B:chunkloader.useFuel=false
    B:enableMicroblocks=true
    B:itemSaw.id=22123

    # 
    S:peripherals.adminPassword=
    S:peripherals.enableCraftingMagCardDevice=true
    S:peripherals.enableCraftingMagCards=true
    S:peripherals.enableCraftingRFIDCards=true
    S:peripherals.enableCraftingRFIDReader=true
    S:peripherals.enableCraftingRFIDWriter=true
    S:peripherals.enableCraftingSpeaker=true
    S:tubestuff.enableBHCAnim=true
    S:tubestuff.enableBHCParticles=true
    S:tubestuff.enableBlackHoleChest=false
    S:tubestuff.enableCraftingBlockBreaker=true
    S:tubestuff.enableCraftingIncinerator=true
    S:tubestuff.enableCraftingRetrievulator=true
    B:tubestuff.enableSlowDustFalling=false
    B:tubestuff.enableStorageBlocks=true
    B:tubestuff.enableStorageBlocks.useOreDictionary=true
    B:tubestuff.enableStorageBlocks.vanilla=true
}


####################
# item
####################

item {
    I:peripherals.magstripe=7435
    I:peripherals.rfid=7434
    I:tubestuff.uselessItem=7614
}


####################
# logging
####################

logging {
    # Name of a file to keep updated with a list of all active chunk loaders. Blank for none.
    S:chunkloader.listFileName=

    # Name of a file to log creation, deletion and editing of chunk loaders to. Blank for none.
    S:chunkloader.logFileName=
}


