# Configuration file
# Generated on 18/12/12 14.39

####################
# block
####################

block {
    I:AdvancedDetector=3161
    I:CargoManager=3162
    I:CartAssembler=3163
    I:Detector=547
    I:Distributor=3164
    I:Junctionrail=3165
    I:Toggler=3166
}


####################
# enabledmodules
####################

enabledmodules {
    B:AdvancedControlSystem=true
    B:AdvancedShooter=true
    B:BasicDrill=true
    B:BasicSolarEngine=true
    B:BrakeHandle=true
    B:BridgeBuilder=true
    B:Cage=true
    B:ChunkLoader=true
    B:CleaningMachine=true
    B:CoalEngine=true
    B:Colorizer=true
    B:CompactSolarEngine=true
    B:DivineShield=true
    B:DynamiteCarrier=true
    B:EntityDetector_Animal=true
    B:EntityDetector_Monster=true
    B:EntityDetector_Player=true
    B:EntityDetector_Villager=true
    B:ExtractingChests=true
    B:ExtremeMelter=true
    B:Farmer=true
    B:Fertilizer=true
    B:Freezer=true
    B:FrontChest=true
    B:GalgadorianDrill=true
    B:GiftStorage=true
    B:HardenedDrill=true
    B:HeightController=true
    B:Hydrator=true
    B:InternalStorage=true
    B:InvisibilityCore=true
    B:IronDrill=true
    B:LargeHydrator=true
    B:LargeRailer=true
    B:LiquidSensors=true
    B:Melter=true
    B:NoteSequencer=true
    B:Projectile_Egg=true
    B:Projectile_FireCharge=false
    B:Projectile_Potion=true
    B:Projectile_Snowball=true
    B:Railer=true
    B:ReinforcedHull=true
    B:Seat=true
    B:Shooter=true
    B:SideChests=true
    B:SolarEngine=true
    B:StandardHull=true
    B:TinyCoalEngine=true
    B:TopChest=true
    B:TorchPlacer=true
    B:TrackRemover=true
    B:WoodCutter=true
    B:WoodenHull=true
}


####################
# item
####################

item {
    I:CartModule=31728
    I:ModularCart=31730
    I:ModuleComponents=31729
}


####################
# settings
####################

settings {
    I:MaximumNumberOfDynamites=50
}


