# Configuration file
# Generated on 18/11/12 11.25

####################
# block 
####################

block {
   electricEngine=250
   pneumGenerator=251
}

####################
# general 
####################

general {
   "EU to MJ denominator"=5
   "EU to MJ numerator"=2
   "Enable HV Conductive Pipe"=true
   "Enable electric engines"=true
   "Enable fixing the strenght of lava as fuel in combustion engines"=true
   "Enable pneumatic generators"=true
}

####################
# item 
####################

item {
   powerPipeHV=4329
}

####################
# powerpipehv 
####################

powerpipehv {
   item=4329
}

